{% extends "base.html.twig"%}

{# parent ile parentteki o blok icerisindeki icerigi direk alabilirsin. #}
{% block title %}
	{{ parent() }}
	Merhaba
{% endblock %}

{% block body %}
	<main class="w-full h-full flex flex-col min-h-0">

		{% include 'components/general/_header.html.twig' %}

		<section class="flex-1 min-h-0 grid grid-cols-12">

			<aside class="col-span-4 p-4 flex flex-col overflow-y-auto border-r">
				<h1 class="text-xl font-medium mb-4">Current User:</h1>

				<div class="flex-[1] border"></div>
			</aside>

			<div class="col-span-8 flex flex-col h-full min-h-0">
				<h1 class="text-xl font-medium p-4">User List:</h1>
				<div class="flex-1 overflow-y-auto px-4 pb-4">
					<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
						{% for user in users %}
							{{ include("components/atoms/_userCard.html.twig",{name:user.name,surname:user.surname,age:user.age}) }}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>

	{# 
																																																																																				{% for user in users %}
																																																																																					<img class="shadow-xl border-lg border-white" src={{asset('images/web_dark_sq_na.svg')}} alt="Fake User Image"/>
																																																																																					<p class="text-red-500">
																																																																																						<a href={{path("app_usersapi_finduser",{id: user.id} )}}>{{user.name}}
																																																																																							{{user.surname}}
																																																																																							-
																																																																																							{{user.age}}
																																																																																						</a>
																																																																																						=>
																																																																																						<span>Can user get a driver licance?
																																																																																						</span>
																																																																																						{% if (user.age >= 18 ) %}
																																																																																							Yes !
																																																																																						{% else %}
																																																																																							{{"Hell No !"|upper}}
																																																																																						{% endif %}
																																																																																					</p>
																																																																																			
																																																																																				{% endfor %} #}
	{#this is how you can comment in twig #}

{% endblock %}
